#readings-table {
    margin: 3vh 0;
    background: white;
}

#readings-table tr th, table tr td {
    text-align: center;
}

#chart-container {
    max-width: 1000px;  
    margin: 3vh auto;
}
.modebar-container {
    display: none !important;
}

.readings-wrapper {
    margin-top: 3vh;
}

#transformersDetailsTable .container {
    background: #f3f3f3;
    padding: 1vh 2vw;
}

#transformersDetailsTable {
    margin: 3vh auto;
    /* display: none; */
    opacity: 0;
    transition: opacity ease-in 0.2s;
}

.transformerDetails h6 {
    display: inline-block;
}

.transformerDetails h6:nth-child(2) {
    font-weight: 800;
}

#close-transformer-details {
    margin: 2vh auto;
}

.normal {
    color:green;
}

.triggered,.poor {
    color:red;
}

@media all and (max-width: 767px) {
    #transformersDetailsTable {
        text-align: center;
    }
}