#tickets-table {
    margin-top: 3vh;
    background: #fff;
}

#tickets-table tr th, #tickets-table tr td {
    text-align: center;
}

#ticketsModal .ticketDetails > h6:nth-child(2) {
    font-weight: 600;
}

#ticketsModal .ticketDetails h6 {
    display: inline-block;
}

#ticketsModal .ticketDetails {
    display: block;
}