body {
    margin: 0;
    padding: 0;
    background: rgb(16, 3, 90);
}

nav a {
    color: #000 !important;
}

@media all and (min-width: 768px) {
    .brand-logo {
        padding-left: 1em !important;
    }
}

.dropdown-trigger {
    padding: 0 1.5em;
}

.brand-logo img {
    margin-top: 0.25em;
}

#particles-js {
    height: 100%;
    background: #fff;
}

canvas {
    display: block;
    position: fixed;
    z-index: -1;
}
